table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid grey;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.stack > * {
    margin-bottom: 10px;
}

.stack:last-child {
    margin-bottom: 0;
}

@media (max-width: 800px) {
    th,td{
        font-size:14px ;
        padding: 5px;
        border: 1px solid black;
    }
    tr {
        display: inline-flex;

    }
    .stack {
        margin-bottom: 10px;
    }
}
@media (max-width: 700px) {
    table {

        overflow-x: auto;
        width: 100%;
    }
    th, td {
        padding: 4px;
    }
}
@media (max-width: 600px) {
    table {
        display: block;
    }
}